body {
  font-family: Roboto, -apple-system;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* container */

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  min-height: 30px;
  width: 100px;
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 7px;
}

/* hero */

.hero {
  padding: 0 150px;
  background-color: #1f2937;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 10px 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.navbar .links {
  display: flex;
  gap: 30px;
}

.links a {
  color: #e5e7eb
}

.title {
  padding: 50px 0;
  flex: 4;
  display: flex;
  align-items: stretch;
}

.title .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title .main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
  margin: 0;
}

.title .right {
  background-color: gray;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title .secondary {
  color: #e5e7eb
}

.title button {
  border: none;
}

/* info */

.info {
  padding: 0 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.info .images {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.images .frame {
  border: medium solid #3882f6;
  border-radius: 10px;
  height: 120px;
  width: 120px;
}

.images p {
  width: 120px;
  text-align: center;
}

/* quote */

.quote {
  background-color: #e5e7eb;
  padding: 0 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quote .what {
  padding: 0 50px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  flex: 3;
}

.quote .who {
  padding: 0 50px;
  font-weight: bold;
  align-self: flex-end;
}

/* call to action */

.cta-container {
  padding: 50px 150px;
  flex: 1;
  display: flex;
  align-items: stretch;
}

.cta {
  padding: 0 50px;
  background-color: #3882f6;
  border-radius: 10px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta h2 {
  color: #f9faf8;
}

.cta p {
  color: #e5e7eb
}

.cta button {
  width: 100px;
  border: medium solid;
}

/* footer */

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}